@import "../../../styles/colours.scss";


.footer-container {
    background-color: $colour-mediumgrey;
    height: 75px;
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    color: $colour-darkblue;
    display: grid;

}
.footer-copyright {
    margin: 5px 0;
    font-weight: bold;
    color: $colour-darkblue;
}

.footer-link {
    color: $colour-lightgrey;
}