.inputs-container {
    padding: 10px 15px;
}

.inputs-quick {
    display: flex;
    justify-content: center;
}

.input-row {
    margin: auto;
    width: 100%;
    padding-bottom: 30px;
}

.input-col-dropdown {
    float: left;
}

.input-col-options {
    padding: 0 30px;
    width: 300px;
}

.number-input-row {
    display: flex;
    justify-content: center;
}

.inputs-custom {
    display: grid;
    margin: 5px 20px;
}