<div class="inputs-container">
    <!-- QUICK MODE -->
    <div class="inputs-quick" *ngIf="mode === inputType.QUICK">
        <div class="row">
            <div class="col-md-4">
                <app-number-input
                    [(ngModel)]="quickCalculationValues.rearCogSize"
                    ngDefaultControl 
                    label="No. of teeth on casette" 
                    hint="Add the number of teeth on the cog of the rear casette">
                </app-number-input>
            </div>
            <div class="col-md-4">
                <app-number-input 
                    [(ngModel)]="quickCalculationValues.chainringSize"
                    ngDefaultControl    
                    label="No. of teeth on chainring" 
                    hint="Add the number of teeth on the front chainring">
                </app-number-input>
            </div>
            <div class="col-md-4">
                <app-button 
                    [buttonType]="buttonTypes.FORM_SUBMIT" 
                    buttonLabel="Calculate"
                    (click)="quickCalculate()">
                </app-button>
            </div>
        </div>
    </div>
    <!-- CUSTOM MODE -->
    <div class="inputs-custom" *ngIf="mode === inputType.CUSTOM">
        <div class="input-row">
            <div class="input-col-dropdown">
                <app-dropdown-input
                    [(ngModel)]="customCalculationValues.numberOfChainrings"
                    ngDefaultControl
                    [options]="[1,2,3]"
                    label="No. of chainrings"
                    hint="The number of large chainrings at the front of the bike">
                </app-dropdown-input>
            </div>
            <ng-container *ngIf="customCalculationValues.numberOfChainrings">
                <div
                    *ngFor="let chainring of toRange(customCalculationValues.numberOfChainrings); let i = index; let total = count;"
                    class="input-col-options">
                    <app-number-input
                        [(ngModel)]="customCalculationValues.chainringSizes[i]"
                        ngDefaultControl
                        label="{{getChainringLabel(i+1, total)}}"
                        hint="No. of teeth on chainring">
                    </app-number-input>
                </div>
            </ng-container>
        </div>
    </div>
</div>