@import "./colours";
@import "./inputs.scss";
@import "./table.scss";
@import "~bootstrap-icons/font/bootstrap-icons.css";


body {
  margin: 0;
  background-color: $colour-darkgrey !important;
  font-family: Arial, Helvetica, sans-serif !important;
}

p {
  margin: 0;
}

