@import "../../../styles/colours.scss";

.nav-list-item {
  display: inline;
  margin: 5px;

  button {
    height: 50px;
    width: 20%;
    border: none;
    padding: 0;
    border-radius: 0 0 8px 8px;
    color: $colour-mediumgrey;
    background-color: $colour-lightgrey;
  }
}
