@import "../../../styles/colours.scss";

.input-container {
    background-color: $colour-mediumgrey;
    width: 90%;
    margin: 0 auto;
    min-height: 300px;
    border-radius: 16px;
    box-shadow: 0px 1px 2px $colour-darkblue;
    padding: 10px 15px;
}

.results-container {
    padding: 20px 15px;
}